include MIT-LICENSE.txt
include README.mkd
include TODO.mkd
include RELEASE-VERSION
recursive-include utils *
recursive-include concurrent_tree_crawler *
recursive-exclude concurrent_tree_crawler *.pyc
